h1 {
  padding: 20px;
  font-size: 55px;
  font-weight: bold;
}

section {
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  gap: 30px;
}

div {
  padding: 10px 15px;

  width: 350px;
  height: 125px;

  background-color: #f0f0f0;

  border: 1px solid #dfdfdf;
  border-radius: 5px;

  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.116);
}

div h2 {
  font-size: 30px;
}

div span {
  color: #00000081;
  font-size: 30px;
}

p#ast {
  float: right;
  margin: 35px 5px;
  font-size: 10px;
  color: #00000081;
}

footer {
  background-color: #ffffff42;

  color: #0000009f;
  font-size: 11px;
  font-style: italic;
  text-align: center;

  margin-top: 40px;

  height: 41px;
  width: 100%;

  position: absolute;
  bottom: 0;

  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.116);
}

footer img {
  width: 100px;
  height: 41px;

  float: left;

  padding-left: 5px;
}

footer p {
  padding-top: 11px;
  padding-right: 100px;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 55px;
  }
  
  section {
    grid-template-columns: repeat(1, 0.3fr);
    margin-top: 20px;
  }

  div {
    width: 300px;
    height: 180px;
  }

  div h2 {
    overflow: hidden;
    font-size: 50px;
  }
  
  div span {
    color: #00000081;
    font-size: 50px;
  }

  p#ast {
    font-size: 15px;
  }

  footer {
    display: none;
  }
}